/*
	margin指定

	.u-mt*　margin-top
	.u-mb* margin-bottom
	*は0～200まで4px刻み

	ex.
	.u-mt10　margin-top: 10px;
	.u-mb50　margin-bottom: 50px;
*/
@for $i from 0 through 50 {
	.u-mt#{4 * $i} {
		margin-top: #{4 * $i}px !important;
	}
	.u-mb#{4 * $i} {
		margin-bottom: #{4 * $i}px !important;
	}
	.u-ml#{4 * $i} {
		margin-left: #{4 * $i}px !important;
	}
	.u-mr#{4 * $i} {
		margin-right: #{4 * $i}px !important;
	}
}