@use '../setting'as g;
//@use '../function'as f;


// コンテンツインナー
.c-inner {
	margin: 0 auto;
	max-width: 1160px;
	padding: 0 60px;
	position: relative;
	@media screen and (max-width: 767px) {
		padding: 0 20px;
	}
}